@font-face {
    font-family: Roboto;
     font-weight: 300;
     src: url("assets/fonts/Roboto.ttf");
   }
.header{
   border: 1px solid red;
}

   * {
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth; 
  }

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
  }

.Personal {
  border: 1px solid #e1dbbe;
  background-color: #e1dbbe;
  color: #ffffff;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  padding-left: 1100px;
  font-size: 30px;
}

.img {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 10px, 0.6);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    list-style: none;
  }
  
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }
  .section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    color: black;
  }
  .section{
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1px;
    color: brown;
  }

H2{
    color:#A5611D;
}

.section-contacts::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 10px;
    height: 10px; 
    border: 1px solid #829985;
    border-radius: 50%;
  }