@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto.ttf");
}

a {
  text-decoration: none;
}

.header {
  border: 1px solid #a59a81;
  background-color: #a59a81;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.nav-list {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.Personal {
  border: 1px solid #e1dbbe;
  background-color: #e1dbbe;
  color: #ffffff;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  padding-left: 1100px;
  font-size: 30px;
}

.img {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 10px, 0.6);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-code {
  font-size: 18px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
}

.nav-link {
  padding: 20px;
  line-height: 50px;
  transition: 0.3s;
}
.section-item a {
  color: #829985;
  text-decoration: none;
  transition: color 0.5s;
}
.section-item a:hover {
  color: #4d2323;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: #a5443d;
  cursor: all-scroll;
}

h2 {
  color: #4d2323;
}

.section {
  width: 50%;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }

  body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    color: black;
  }

  .section {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    color: brown;
  }
}

h2 {
  color: #a5611d;
}

.section-contacts::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 10px;
  height: 10px;
  border: 1px solid #829985;
  border-radius: 50%;
}
