@font-face {
font-family: Roboto;
src: url("assets/fonts/Roboto.ttf");
}

a {
  text-decoration: none;
}

.header {
  border: 1px solid #a59a81;
  background-color: #a59a81;
  display: flex;
}

.footer {
  border: 1px solid #a59a81;
  background-color: #a59a81;
  height: 50%;
}

.container-footer {
  background: no-repeat 0 0;
  text-align: center;
  justify-content:space-evenly;
  display: flex;
  margin: 0%;
  display: flex;
  max-width: 1440px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  flex: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.Personal {
  border: 1px solid #e1dbbe;
  background-color: #e1dbbe;
  color: #ffffff;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  padding-left: 1100px;
  font-size: 30px;
}

.img {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 10px, 0.6);

}

body {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  color: black;
}

.section-code {
  font-size: 18px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
}

.nav-link {
  padding: 20px;
  line-height: 50px;
  transition: 0.3s;
}

.section-item a:hover {
  color: #4d2323;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
}

h1 {
  color: #a5443d;
  cursor: all-scroll;
}

  

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  color: black;
}

.section {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  color: brown;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 35px;
  border-bottom: 10px solid #f4cda8;
}

.section-contacts{
  width: calc(50% - 20px);
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 2px solid #743e09; 
}
.section-summary{
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 2px solid #743e09;
   }

.section-code{
  width: calc(50% - 20px);
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 2px solid #743e09;
  }

.section-skills{
  width: calc(50% - 20px);
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 2px solid #743e09;
}

.section-courses{
  width: calc(50% - 20px);
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 2px solid #743e09;
}

.section-projects{
  width: calc(50% - 20px);
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 2px solid #743e09;
}

.section-education{
  width: calc(50% - 20px);
  padding: 10px;
  padding-bottom: 35px;
  }

.section-english{
  width: calc(50% - 20px);
  padding: 10px;
  padding-bottom: 35px;
 }

h2 {
  color: #743e09;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
